<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1>Where are you from?</h1>
        <form action="/form">
          <input type="text" name="Chicago" placeholder="eg) Chicago" class="form-control">
        </form>
      </div>
    </div>
  </div>